.competencies{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.competencies__my{
    width: 1048px;
    color: #FFFFFF;
    font-size: 55px;
    line-height: 71.5px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 48px;
}

.competencies__ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
    justify-content: space-between;
}

.competencies__ul-li{
    width: calc(50% - 10px);
}

.competencies__column{
    margin-top: 60px;
}

.competencies__column-title{
    max-width: 651px;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: -0.03em;
    text-align: left;
    color: greenyellow;
    margin-top: 12px; 
    margin-bottom: 15px;  
}

.competencies__column-text{
    font-size: 23px;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

@media (max-width:961px) {
    .competencies__my{
        font-size: 45px;
        line-height: 58.5px;
        letter-spacing: -0.03em;
        margin-bottom: 60px;
    }

    .competencies__ul-img{
        width: 36px;
        height: 36px;
    }

    .competencies__column-title{
        font-size: 28px;
        line-height: 36.4px;
        letter-spacing: -0.03em;
        margin-top: 10px;
        margin-bottom: 13px;
    }

    .competencies__column-text{
        font-size: 18px;
        line-height: 23.4px;
        letter-spacing: -0.03em;
    }
}

@media (max-width:600px){
    .competencies__ul {
        flex-direction: column;
    }

    .competencies__ul-li{
        width: 100%;
    }
}