.contacts{
    background-color: rgba(25, 28, 25, 1);
    border-radius: 30px;
    padding-left: 125px;
    margin-bottom: 10px;
}

.contacts__img{
    object-fit: contain;
    float: right;
    border-radius: 0px 0px 30px 0px;
}

.contacts__title{
    color: #FFFFFF;
    max-width: 553px;
    font-size: 63px;
    line-height: 60px;
    letter-spacing: -0.03em;
    padding-top: 100px;
}

.contacts__form{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 26px;
}

.contacts__input{
    background-color: #3B3D3B;
    border-radius: 100px;
    width: 467px;
    height: 40px;
    font-size: 22px;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    padding-left: 40px;
    color: #FFFFFF;
}

.contacts__button{
    background-color: #1BFF07;
    width: 450px;
    height: 70px;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 22px;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    margin-bottom: 35px;
}

.contacts__button:hover {
    background-color: #f89d13;
}

.contacts__button:active {
    background-color: #f05347;
}