.services{
    margin: 150px 0px;
}

.services__title{
    max-width: 403px;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 74px;
}

.services__img{
    width: 100%;
    height: 200px;
    border-radius: 30px;
    background-color: #191C19;
}

.services__column{
    width: 100%;
    padding: 40px 62px 40px 40px;
    border-radius: 30px;
    background-color: #191C19;
}

.services__column-title{
    max-width: 1048px;
    font-size: 55px;
    line-height: 71.5px;
    letter-spacing: -0.03em;
    padding-bottom: 15px;
    text-align: left;
    color: #1BFF07;
}

.services__column-text{
    max-width: 724px;
    font-size: 22px;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}