@import "../styles/header.css";
@import "../styles/projects.css";
@import "../styles/competencies.css";
@import "../styles/services.css";
@import "../styles/contact.css";
@import "../styles/footer.css";

html{
    scroll-behavior: smooth;
}

body{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    margin: 0 auto;
}

.container{
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}

@media (max-width: 961px) {
    .container{
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0px 10px;
    }
}